html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    hsl(213, 47%, 43%) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background: #E7EB90;
  width: 624px;
  border-radius: 16px;
  padding: 32px;
  color: #1D2F6F;
}

.person {
  display: flex;
  align-items: flex-end;
}

.person__description {
  margin: 0;
  font-size: 16px;
}

.person__description--margin {
  margin-bottom: 16px;
}

.person__name {
  font-size: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.person__picture {
  width: 148px;
  height: 148px;
  margin-right: 32px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

}

.person__position {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: italic;
}

.person__link {
  text-decoration: none;
  color: #8390FA;
}

.special {
  font-weight: normal;
  color: #ed6d05;
}
